@import 'utilities';
@import 'config';
@import 'mobile';
@import 'buttons';


* {
  box-sizing:content-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $font;
  color: $heading-text-color;
}

/*navbar*/
.navbar {
  background-color: $secondary-color;
  height: 90px;
  padding: 0 30px;
  font-family: $font-heading;

  h1 {
    font-size: 30px;
    font-weight: 300;
    margin: 10px 0;
    line-height: 1.2;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  ul {
    display: flex;
  }

  a {
    color: $heading-text-color;
    padding: 9px;
    margin: 0 10px;
  }

  a:hover {
    color: $primary-color;
    border-bottom: 3px solid $primary-color;
  }
}


/*showcase*/
.showcase {
  height: 300px;
  background-color: $secondary-color;
  font-family: $font-heading;

  p {
    margin-bottom: 30px;
  }

  img {
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }

  &-form {
    padding-left: 7px;
    margin: auto;
  }

}


.showcase input[type='email'] {
  padding: 10px 70px 10px 0;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  padding-left: 6px;
}

.btn {
  border-radius: 6px;
  padding: 12px 20px;
  background: $primary-color;
  border: none;
  margin-left: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

/*testimonial*/
.testimonial {
  color: $text-color;
  padding: 40px;

  img {
    height: 100%;
    clip-path: circle();
  }

    h3 {
      text-align: center;
}
  }

/*footer*/
footer {
  background-color: $secondary-color;
  padding: 20px 10px;

  a {
    color: $heading-text-color;
    margin: 0 10px;
  }

  a:hover {
    color: $heading-text-color;
    border-bottom: 2px solid $heading-text-color;
  }
}

a {
  color: $text-color;
  text-decoration: none;
}


h1 {
  font-size: 30px;
  font-weight: 600;
  margin: 10px 0;
  line-height: 1.2;
  font-family: $font-heading;
}


h2 {
  font-size: 25px;
  font-weight: 300;
  margin: 10px 0;
  line-height: 1.2;
}
img {
  width: 100%;
}

li {
  list-style-type: none;
}

p {
  font-size: 15px;
  margin: 10px 0;
}

.grid {
  overflow: visible;
  display: grid;
  grid-template-columns: 60% 40%;
}

.grid-item-1,
.grid-item-2 {
  position: relative;
  top: 48px;
}


.title {
  color: $text-color;
  font-size: 20px;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
}


.text {
  color: $text-color;
  font-size: 19px;
  width: 100%;
  padding: 10px;
  margin: 0, 20px;
  text-align: justify;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.stats {
  padding: 45px 50px;
  text-align: center;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  
}

.card {
  padding: 10px;
  background-color: $heading-text-color;
  border-radius: 10px;
  box-shadow: -7px -7px 20px rgba(0, 0, 0, 0.2),
    7px 7px 20px rgba(0, 0, 0, 0.2)
}

.circle {
  background-color: transparent;
  border: 3px solid $primary-color;
  height: 90px;
  position: relative;
  top: -30px;
  left: 120px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 90px;
}