.row {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.row:before,
.row:after {
    content:"";
    display:table;
}
.row:after {
    clear:both;
}

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; } 

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.span {
	width: 23.8%; 
}

.span-1-of-2 {
	width: 49.2%;
}

.span-1-of-3 {
	width: 32.26%; 
}

.span-2-of-3 {
	width: 66.13%; 
}